.idea/
__pycache__/
*.egg-info/
examples/**/models/
examples/**/results/
examples/**/wandb/
fineweb_10BT/**
fineweb_10BT_emb/**
embeddings/**
tmp.*
fineweb
**/debug*.*
data/**
gpt_oss_data_process/data/**
runs/**
tmp_1/**
topics-qrels/**
.env
